<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit"/>
    <meta name="force-rendering" content="webkit"/>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="名榜,wangid">
    <title>WangID办公管理系统</title>

    <!-- CSS -->
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/children.css">

    <!-- 在线图标库 地址：http://fontawesome.dashgame.com/-->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <!-- layui css -->
	<link rel="stylesheet" href="/static/layui/css/layui.css" media="all">
	<link rel="stylesheet" href="/static/css/laydate.css" media="all">
	<script type="text/javascript" src="/static/js/jquery-1.11.0.min.js"></script>
	<!-- layui js -->
	<script src="/static/js/layui.js"></script>
	<script src="/static/js/layui.all.js"></script>
</head>
<style>

input[readonly]{
    background-color: #efefef;
}
</style>
<body>
    <div class="wangid_conbox">
        <!-- 当前位置 -->
        <div class="zy_weizhi bord_b">
            <i class="fa fa-home fa-3x"></i>
            <a href="#" onclick="javascript:top.location.href='/index/index'">首页</a>
            <span>公司员工添加</span>
        </div>
        <!-- 内容 -->    
        <div class="wenxts_ke">
            <p><i>温馨提示：</i>请认真核对员工信息正确无误后再确定添加，并上传员工的对应简历图片</p>
        </div>
        <div class="kehubh_tj_k">

            <input type="text" name="id" style="display:none">
                <ul>


                <li>
                    <div class="left">姓名：</div>
                    
                    <div class="right"> 
                        <input type="text" name="name" required lay-verify="required"  id="name" class="layui-input">
                    </div>
                </li>

                <li>
                    <div class="left">性别：</div>
                    <div class="right">
                            <input type="radio" name="sex" value="男" checked="checked">男
                            <input type="radio" name="sex" value="女" >女
                    </div>
                </li>

                <li>
                    <div class="left">邮箱：</div>

                    <div class="right">
                        <input type="text" name="email" required lay-verify="required"  id="email" class="layui-input">
                    </div>
                </li>

                <li>
                    <div class="left">账号：</div>

                    <div class="right">
                        <input type="text" name="zh" required lay-verify="required"  id="zh" class="layui-input">
                    </div>
                </li>


                <li>
                    <div class="left">手机号码：</div>

                    <div class="right">
                        <input type="text" name="phone" required lay-verify="required"  id="phone" class="layui-input">
                    </div>
                </li>


                    <li>
                    <div class="left">权限：</div>
                    <div class="right" >
                            <input type="radio" name="power" value="00" checked="checked">非管理员
                            <input type="radio" name="power" value="11" >管理员
                    </div>
                </li>

                <li>
                    <div class="left">工号：</div>
                    <div class="right" >
                        <input type="text"  id="job_no" name="job_no" required lay-verify="required" autocomplete="on" class="layui-input">
                    </div>
                </li>
                <li style="height: 38px; overflow:initial;">
                           <div class="left">部门名称：</div>
                    <div class="right">
                        <select  id="dep_name" name="dep_name"  >                           <option value="">--选择部门--</option>
                        <option value="技术部">技术部</option>
                        <option value="客服部">客服部</option>
                        <option value="人事部">人事部</option>
                        <option value="销售部">销售部</option>
                        <option value="后勤部">后勤部</option>
                        <option value="行政部">行政部</option>

                        </select> 
                    </div>
                </li>
                <li style="height: 38px; overflow:initial;">
                    <div class="left">部门职位：</div>
                    <div class="right">
                        <select  id="position" name="position"  >                           <option value="">--选择部门--</option>
                        <option value="技术部">总经理</option>
                        <option value="客服部">副经理</option>
                        <option value="人事部">职员</option>
                        <option value="销售部">客服</option>
                        <option value="后勤部">部长</option>
                        <option value="行政部">业务员</option>
                        <option value="行政部">讲师</option>

                        </select>
                    </div>
                </li>

                <li>
                    <div class="left">图片：</div>
                    <div class="right" id="img">
                            <input style="margin-top: 8px;" name="myfile" type="file" >
                    </div>
                </li>

                <li>
                    <div class="left"> &nbsp;</div>
                    <div class="right"> 
                        <button class="button_qr" onclick="add()">入职</button>
                    </div>
                </li>
            </ul> 
            </form>
        </div>
    </div>   
    <style>
     
 .layui-form-pane .layui-form-checkbox {
    margin: 12px 0 4px 10px!important;
}
    </style>

    
</body>


<script>

      function add(){
            var name=$("#name").val();
            var sex=$("input[name='sex']").val();
            var job_no=$("#job_no").val();
            var dep_name=$("#dep_name").val();
            var position_name=$("#position").val();
            var img=$("#img").val();
            var power=$("input[name='power']").val();
            var username=$("#zh").val();
            var email=$("#email").val();
            var phone=$("#phone").val();

            var post_data={"name":name,
            "sex":sex,
            "job_no":job_no,
            "dep_name":dep_name,
            'position_name':position_name,
            "power":power,
            "email":email,
            "username":username,
            'img':img,
            "phone":phone,
            };
            console.log(post_data)
            $.ajax({
                type:"post",
                contentType:"application/json",
                dataType:"json",
                url:'http://127.0.0.1:8000/v1/management/add_management',
                data:JSON.stringify(post_data),
                success:function(res){
                    if(res.code==200){
                        alert("添加成功")
                        window.location.href="/management"
                    }else{
                        alert(res.error)
                    }
                }
            })

        }

<!--	******************************************-->
$(function(){

    	if (!window.localStorage.getItem('oa_username'))
    		{
    		alert("请登录！");
    		window.location.href = "/user/login";
    	}
    })
<!--	******************************************-->
</script>


</html>